@page "/uploadedcontent"
@model UploadedContentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <h1 class="display-4">Uploaded Files</h1>
</div>
<hr>
<div>
    @foreach(string @uploadedFile in @Model.UploadedFiles)
    {
        <p>@uploadedFile</p>
    }
</div>
<hr>
<div>
    <form class="d-grid gap-2" method="POST">
        <input type="submit" class="btn btn-primary" value="Execute Analysis of Uploaded Files"/>
        <a class="btn btn-primary" href="/">Return to the Home Page</a>
    </form>
</div>